.newsletter {
  padding: 80px 0px;
  background: #faf6ec;
}
.yellow-container {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 6px;
}
.newsletter-yellow {
  color: #ff8a01;
  font-family: "Playfair Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.newsletter-container {
  display: flex;
  margin: 0px auto 0px auto;
  max-width: 1240px;
  gap: 57px;
}
.newsletter-title {
  color: #000;
  font-family: "Playfair Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 32px;
}

.newsletter-first-div {
  margin-top: 100px;
}

.newsletter-description {
  color: #6c6c6c;
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 40px;
}

.newsletter-input {
  border-radius: 32px;
  border: 1px solid #6c6c6c;
  background: #fff;
  padding: 16px 108px 16px 16px;
  text-align: left;
}

.newsletter-input::placeholder {
  color: #c6c6c6;
  font-family: Cabin;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.newsletter-button {
  border-radius: 32px;
  color: #000;
  text-align: center;
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  background: #fbc04e;
  border: none;
  padding: 16px 32px;
}

.newsletter-input-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.img-border {
  border-radius: 8px;
  border: 2.5px solid #ff8a01;
  transform: translate(0, 0px);
}

.img-border > img {
  border-radius: 10px;
  transform: translate(20px, -20px);
}

/* hero-sectio */

.hero-section {
  display: flex;
  gap: 80px;
  max-width: 1240px;
  margin: 80px auto;
}

.hero-title {
  color: #000;
  font-family: "Playfair Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; 
  margin-bottom: 32px;
}

.hero-description {
    color: #6C6C6C;
font-family: Cabin;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}

.hero-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.hero-img{
    border-radius: 10px;
}

.mission-section {
    max-width: 1240px;
    margin: 80px auto;
}

.mission-title {
    color: #000;
text-align: center;
font-family: "Playfair Display";
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px; 
margin-bottom: 32px;
}

.mission-description {
    color: #6C6C6C;
text-align: center;
font-family: Cabin;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
margin-bottom: 64px;
}

.mission-div {
    display: flex;
    gap: 129px;
}

.mission-div-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.mission-div-inner {
    display: flex;
    gap: 24px;
}

.img-holder{
    border-radius: 9999px;
    padding: 18px;
    background: #FFCA0E;
    border-radius: 9999px;
}

.mission-div-inner-left{
   display: flex;
   justify-content: center;
   align-items: center;
}

.icon-title {
    color: #000;
font-family: "Playfair Display";
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 46px;
margin-bottom: 8px; 
}

img {
  border-radius: 10px;
}

.icon-description{
    color: #757575;
font-family: Cabin;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}

