.nav-container {
  background: #000;
}
a {
  text-decoration: none;
  color: #fff;
}
.nav-button {
  background: #fff;
}

img {
  border-radius: 10px;
}

.contact-container {
  padding: 124px 0px 80px 0px;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.contact-info {
  display: flex;
  padding: 0px 32px;
  justify-content: space-between;
  margin-bottom: 64px;
}

.contact-info-section {
  display: flex;
  gap: 24px;
}

.contact-svg {
  border-radius: 12px;
  background: #fcf1e7;
  padding: 4px;
}

.contact-title {
  color: #000;
  font-family: "Playfair Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}

.cotact-time-number {
  color: #727272;
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 16px;
}

.contact-time-two {
  color: #0b0a0b;
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.contact-time {
  color: #0b0a0b;
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 14px;
}

.location-div-container {
  display: flex;
  gap: 16px;
}

.location-text {
  color: #727272;
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.contact-svg > svg {
  padding: 4px;
}

/* online reservation */

.reservation {
  margin: 80px auto;
}
.reservation-title {
  color: #010101;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px; /* 107.143% */
  margin-bottom: 24px;
}

.reservation-description {
  color: #555;
  text-align: center;
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 64px;
}

.reservation-input-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  max-width: 1240px;
  margin: 0 auto;
}

.input-div {
  border-radius: 4px;
  border: 1px solid #e8dcc6;
  background: #f7f7f6;
  position: relative;
}

.input-div > input {
  border: none;
  padding: 18px 16px;
  background: none;
  color: #999;
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.input-div > svg {
  position: absolute;
  bottom: 30%;
  right: 5%;
}

::placeholder {
    color: #999;
    font-family: Cabin;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}


input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.submit-button {
  padding: 20px 48px;
  color: #000;
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-radius: 48px;
  background: #fbc04e;
  margin-top: 48px;
  border: none;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 767px){
  .reservation-input-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .reservation-title{
    font-size: 52px;
  }
}
@media only screen and (max-width: 768px) and (max-width: 992px){
  .input-div > input {
    padding: 18px 12px;
  }
}